<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{titleCase name}}</title>
  </head>
  <body>
    <header>
      <h1>
        <a href="/index.html">Home</a>
        &nbsp;>&nbsp;
        {{framework}}
        &nbsp;>&nbsp;
        {{titleCase name}}
      </h1>
      <hr/>
    </header>
    <main>
      <a href="{{source}}">Source</a>
      <br/>
      <br/>
      <br/>
      <div id='container'></div>
    </main>
  </body>
</html>