<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>{{titleCase name}}</title>
  </head>
  <body>
    <header></header>
    <main>
      <svg id='canvas'></svg>
    </main>
  </body>
</html>